UD3. Exercicis pack 5 LUCA SEGUI/activitat5_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="definirElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ciutat" type="xs:string"/>
        <xs:element name="data-de-naixement" type="xs:date"/>
        <xs:element name="hora" type="xs:time"/>
        <xs:element name="nota" type="xs:decimal"/>
        <xs:element name="apte" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>