UD3. Exercicis pack 5 LUCA SEGUI/activitat5_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="estat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="portaTancada" type="xs:boolean" default="false"/>
        <xs:element name="finestraOberta" type="xs:boolean" default="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>