UD3. Exercicis pack 5 LUCA SEGUI/activitat5_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="preuType">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="preu" type="preuType"/>
  <xs:complexType name="preusType">
    <xs:sequence>
      <xs:element name="preu" type="preuType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="preus" type="preusType"/>
</xs:schema>